<h1> <%= @task.content %> </h1>
<h3> Created by: <%= @task.user.firstname %> </h3>
<br>
<strong> Suggestions: </strong>
<br>
<% @task.suggestions.each do |suggestion| %>
     <%= suggestion.user.firstname %> suggests 
     "<%= suggestion.content %>"
     <br>
<% end %>
<br>
<br>
<%= link_to "Randomize suggestions", task_suggestions_path(@task) %> (if owner of post)
<br>
<%= link_to "Add a new suggestion", new_task_suggestion_path(@task) %> 
Delete Task (if current user)
