<div id="main">
    <h1> <%= @task.content %> </h1>
    <h4> Created by: <%= @task.user.firstname %> </h4>
    <br>
    <hr>
    <br>
    <% if @task.suggestions.empty? %>
        <%= "No suggestions yet for '#{@task.content}'." %>
    <% else %>
        <% @task.suggestions.each do |suggestion| %>
            <div class="card text-center" style="width: 25%; height: 50%; vertical-align: middle;">
                <h5 class="card-header">Suggestion</h5>
                    <div class="card-body">
                        <h5 class="card-title"><%= suggestion.content %></h5>
                        <p class="card-text">Suggested by: <strong> <%= suggestion.user.firstname %> </strong></p>
                        <% if suggestion.user == current_user %>
                            <%= link_to "edit", edit_suggestion_path(suggestion) %>
                            <%= link_to "delete", suggestion_path(suggestion), method: :delete %>
                        <% end %>
                    </div>
                </div>
            <br>
        <% end %>
    <% end %> 

    <br>
    <% if current_user || current_user.friends.exists?(@task.user.id) %>
        <%= link_to "Add a new suggestion", new_task_suggestion_path(@task) %> 
    <% else %>
        You must follow this user to add a suggestion.
    <% end %>
    <br>
    <% if @task.user == current_user %>
        <%= link_to "Randomize suggestions", task_winner_path(@task) %> 
    <% end %>
</div>
