<%= render partial: "layouts/errors", locals: {object: @user} %>

<div id="main">
    <h1>Sign Up</h1>
    <div id="frm">
        <%= form_for(@user) do |f| %>
            <%= f.label :firstname, "First Name" %>
            <%= f.text_field :firstname %>

            <%= f.label :lastname, "Last Name" %>
            <%= f.text_field :lastname %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "Create Account"%>
        <% end %>
    </div>
</div>