<!DOCTYPE html>
<html>
  <head>
    <title>Decider</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Spirax&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div id="navbar">
        <% if logged_in? %>
        <%= link_to "Home Page", user_path(current_user) %> |
        <%= link_to "Add a task", new_task_path %> |
        <%= link_to "All tasks", tasks_path %> |
        <%= link_to "Your Friends", friendships_path %> |
        <%= link_to "Logout", logout_path, method: "delete" %> 
      <% end %>
    </div>

    <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
    <% end %>

    <%= yield %>
  </body>
  <footer>
      This page was created by Carrie Mathieu.
  </footer
</html>
